*{
    margin:0;
    padding: 0;
}
.gray-background {
    position: fixed; 
    display: none;
    background-color: rgba(28, 28, 28, 0.8); 
    top: 0; 
    bottom:0; 
    left:0; 
    right:0;
}
.left-contact {
    bottom: 20px;
    right: 20px;
}
.messenger,
.scroll-to-top,
.geo-alt {
    height: 50px;
    width: 50px;
}
.messenger {
    background-image: linear-gradient(0deg, rgb(23, 172, 221), rgba(74, 237, 239, 0.516));;
}
.scroll-to-top > span {
    bottom: 6px;
    left: 8.3px;
    /* background-image: inherit; */
}
.scroll-to-top > i {
    top: 133px;
    /* background-image: inherit; */
    font-size: 13px;
}
.scroll-to-top {
    background-image: linear-gradient(0deg, rgb(172, 172, 172), rgb(218, 218, 218));
    /* visibility: hidden; */
    border: 1px solid rgb(207, 205, 205);
    box-shadow: 1px 1px 2px gray;
    animation: fadeIn backwards 5s;
    visibility: hidden;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}